@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .dark-scrollbar::-webkit-scrollbar-track {
    background: #1f2937;
  }
  .dark-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 4px;
  }
}

